# Chặn file môi trường (chứa mật khẩu)
.env
.env.*



# Chặn thư mục môi trường ảo Python
venv/
env/
.venv/
__pycache__/

# Chặn thư mục thư viện Javascript
node_modules/

# Ignore generated baseline files
backend/config/baselines/*.joblib
backend/config/baselines/*.json
#backend/config/alerts/

